body
{
	font-family: Verdana, sans-serif;
	font-size: 1.25vw;
}

img
{
	display: inline-block;
	width: 100%;
}

.title
{
	font-weight: bold;
	font-size: 135%;
}

.glyph-row
{
	width: 100%;
}

.glyph-image
{
	display: inline-block;
	width: 20%;
}

.glyph-image-info
{
	display: inline-block;
	width: 80%;
}