body
{
	font-family: Verdana, sans-serif;
	font-size: 1.25vw;
}

img
{
	display: inline-block;
	width: 100%;
}

.title
{
	font-weight: bold;
	font-size: 135%;
}

.glyph-row
{
	width: 100%;
	display: flex;
	align-items: stretch;
	overflow: hidden;
    position: relative;
	min-height: 12.5vw;
}

.glyph-image
{
	display: inline-block;
	width: 19%;
}

.glyph-image-info
{
	width: 80%;
}

.glyph-row-spacer
{
	width: 1%;
}

.bottom-detail
{
	position: absolute;
	bottom: 0;
	font-size: 85%;
}